<div class="container" style="margin-bottom: 10%;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <clr-datagrid>
        <!--<clr-dg-column>Transaction ID</clr-dg-column>-->
        <clr-dg-column>Customer Name</clr-dg-column>
        <clr-dg-column>Item(s) Sold</clr-dg-column>
        <clr-dg-column>Revenue</clr-dg-column>
        <clr-dg-column>Date</clr-dg-column>
        <!--<clr-dg-column>Transaction Type</clr-dg-column>-->

        <clr-dg-row *ngFor="let transaction of sales;">
          <!--<clr-dg-cell>{{ transaction.transactionId }}</clr-dg-cell>-->
          <clr-dg-cell>{{ transaction.name }}</clr-dg-cell>
          <clr-dg-cell>{{ transaction.item }}</clr-dg-cell>
          <clr-dg-cell>{{ transaction.revenue | currency:'USD':true:'1.2-2' }}</clr-dg-cell>
          <clr-dg-cell>{{ transaction.date }}</clr-dg-cell>
          <!--<clr-dg-cell>{{ transaction.transactionType }}</clr-dg-cell>-->
        </clr-dg-row>

      </clr-datagrid>
    </div>
  </div>
</div>