.login-background {
  background-color: #7AC0CA;
}

.branding-bold {
  font-weight: 700;
  font-size: 36px;
}

.branding-light {
  font-weight: 300;
  font-size: 30px;
}

.top-form-group-spacing {
  margin-bottom: 3%;
}