<!--<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form class="form" [formGroup]="composeMessageForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
        <section class="form-block">
          <div class="form-group">
            <label class="required" for="to">To: </label>
            <label for="to" aria-haspopup="true" role="tooltip" class="tooltip-validation tooltip-sm" [class.invalid]="composeMessageForm.get('to').invalid && (composeMessageForm.get('to').dirty || composeMessageForm.get('to').touched)">
              <input id="to" type="text" formControlName="to">
              <div class="tooltip-content" *ngIf="composeMessageForm.get('to').invalid && (composeMessageForm.get('to').dirty || composeMessageForm.get('to').touched)">Oops! You forgot to add the person you'd like to send the message to!
              </div>
            </label>
          </div>
          <div class="form-group">
            <label class="required" for="subject">Subject: </label>
            <label for="subject" aria-haspopup="true" role="tooltip" class="tooltip-validation tooltip-sm" [class.invalid]="composeMessageForm.get('subject').invalid && (composeMessageForm.get('subject').dirty || composeMessageForm.get('subject').touched)">
              <input id="subject" type="text" formControlName="to">
              <div class="tooltip-content" *ngIf="composeMessageForm.get('subject').invalid && (composeMessageForm.get('subject').dirty || composeMessageForm.get('subject').touched)">Don't forget to add a subject line so the recipient knows what the message is about!
              </div>
            </label>
          </div>
          <div class="form-group">
            <label for="message" class="required">Message: </label>
            <label for="message" aria-haspopup="true" role="tooltip" class="tooltip-validation tooltip-sm" [class.invalid]="composeMessageForm.get('message').invalid && (composeMessageForm.get('message').dirty || composeMessageForm.get('message').touched)">
              <textarea id="message" rows="4" cols="60" formControlName="to"></textarea>
              <div class="tooltip-content" *ngIf="composeMessageForm.get('message').invalid && (composeMessageForm.get('message').dirty || composeMessageForm.get('message').touched)">Oops! You can't send a blank message!
              </div>
            </label>
          </div>
          <button class="btn send-button" type="submit" [disabled]="composeMessageForm.invalid">Send</button>
        </section>
      </form>
    </div>
  </div>
</div>-->


<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="form" [formGroup]="composeMessageForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
                    <section class="form-block">
                        <label style="font-weight: 500;">Compose and Send a Message</label>
                        <div class="form-group">
                            <label class="required" for="to">To: </label>
                            <label for="to" aria-haspopup="true" role="tooltip" class="tooltip-validation tooltip-sm" [class.invalid]="composeMessageForm.get('to').invalid
                            && (composeMessageForm.get('to').dirty || composeMessageForm.get('to').touched)">
                        <input id="to" type="text"
                            formControlName="to">
                        <span class="tooltip-content" *ngIf="composeMessageForm.get('to').invalid
                            && (composeMessageForm.get('to').dirty || composeMessageForm.get('to').touched)">
                            Oops! You forgot to add the person you'd like to send the message to!
                        </span>
                    </label>
                        </div>
                        <div class="form-group">
                            <label class="required" for="subject">Subject: </label>
                            <label for="subject" aria-haspopup="true" role="tooltip" class="tooltip-validation tooltip-sm" [class.invalid]="composeMessageForm.get('subject').invalid
                            && (composeMessageForm.get('subject').dirty || composeMessageForm.get('subject').touched)">
                        <input id="subject" type="text"
                            formControlName="subject">
                        <span class="tooltip-content" *ngIf="composeMessageForm.get('subject').invalid
                            && (composeMessageForm.get('subject').dirty || composeMessageForm.get('subject').touched)">
                            Don't forget to add a subject line so the recipient knows what the message is about!
                        </span>
                    </label>
                        </div>
                        <div class="form-group">
                            <label class="required" for="message">Message: </label>
                            <label for="message" aria-haspopup="true" role="tooltip" class="tooltip-validation tooltip-sm" [class.invalid]="composeMessageForm.get('message').invalid
                            && (composeMessageForm.get('message').dirty || composeMessageForm.get('message').touched)">
                        <textarea id="message" rows="4" cols="70"
                            formControlName="message"></textarea>
                        <span class="tooltip-content" *ngIf="composeMessageForm.get('message').invalid
                            && (composeMessageForm.get('message').dirty || composeMessageForm.get('message').touched)">
                            You'll need to add a message so you can send it!
                        </span>
                    </label>
                        </div>
                        <button class="btn send-button" type="submit" [disabled]="composeMessageForm.invalid">Start Saving</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
