<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="profile-picture-align">
        <img src="../../../img/Ethan-edit.jpg" class="profile-picture" height=150 width=150s>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card card-background">
        <div class="card-header name-color card-text-align">
          {{ name }}
        </div>
        <div class="card-block">
          <div class="card-text location-color card-text-align">
            {{ location }}
          </div>
          <div class="card-text bio-font card-text-align">
            {{ bio }}
          </div>
        </div>
        <div class="card-footer">
          <span style="display: inline;">
            <span class="social-number">94</span>
            <span class="social-metric-type">Posts</span>
          </span>
          <span>
            <span class="social-number">53</span>
            <span class="social-metric-type">Following</span>
          </span>
          <span>
            <span class="social-number">46</span>
            <span class="social-metric-type">Followers</span>
          </span>
          <span>
            <span class="social-number">112</span>
            <span class="social-metric-type">Likes</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            Placeholder for social feed
          </div>
        </div>
      </div>
    </div>
  </div>
</div>