.card-text-align {
  text-align: center;
}

.card-background {
  background-color: #A6E0E7;
}

.name-color {
  color: #2C85A2;
  font-weight: 500;
}

.location-color {
  color: #FFFFFF;
}

.bio-font {
  color: #2C85A2;
  font-style: italic;  
}

.profile-picture-align {
  text-align: center;
}

.profile-picture {
  border-radius: 5px;
}

.social-number {
  display: inline-block;
  color: #2C85A2;
}

.social-metric-type {
  display: inline-block;
  color: #FFFFFF;
}

.right-side-panel {
  background-color: #2C85A2;
}

.right-side-header {
  color: #F5D43F;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

.inbox-image {
  border-radius: 50%;
  text-align: left;
}

.compose-button {
  background-color: #2C85A2;
  color: #FFFFFF;
}