<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header header-background">
          Average Review
        </div>
        <div class="card-block card-body-background">
          <div class="card-title average-review-text">
            {{ average | number : '1.2-2'}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header header-background">
          Total Reviews
        </div>
        <div class="card-block card-body-background">
          <div class="card-title total-reviews-text">
            6
          </div>
        </div>
      </div>
    </div>
  </div>
</div>