.go-live-container {
  background-color: #7AC0CA;
  /*margin-top: 2%;
  margin-bottom: 2%;*/
}

.part-one-message {
  color: #2C85A2;
  font-weight: 600;
  font-size: 36px;
}

.part-two-message {
  color: #F5D43F;
  font-weight: 600;
  font-size: 36px;
}

.header-message-layout {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.item-card-background {
  background-color: #A6E0E7
}

.live-item-text {
  color: #2C85A2;
  text-align: center;
}

.live-item-image {
  border-radius: 6px;
}