  <div class="typography-document-samples row">
    <div class="col-xlg-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 typography-widget">
      <!--<ba-card title="Quote of the Day" baCardClass="with-scroll heading-widget2">-->
        <div class="section-block">
          <br>
          <h2>
            <span style="font-style: italic; font-weight:200; font-size: 200%;">CONTINUE</span>
          </h2>
            <br>
          <h1>
            <span style="font-weight: 500; font-size: 200%;">LESSON</span>
          </h1>
          <br><br>
        </div>
      <!--</ba-card> -->
    </div>

    <div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 typography-widget">
      <div class="section-block">
        <br>
        <h1 style="font-size: 900%; font-style: italic; font-weight: 600;">2</h1>
      </div>
    </div>

    <div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 typography-widget">
      <div class="section-block">
        <br><br><br><br>
        <a href="#">
          <i style="font-size: 300%;" class="ion-chevron-right pull-right"></i>
        </a>
      </div>
    </div>    

  </div>