.customer-table-header {
  background-color: #7AC0CA;
  color: #FFFFFF;
  text-align: center;
}

.customer-table-background {
  background-color: #3C404B;
}

.customer-names {
  font-weight: 500;
  color: #FFFFFF;
  font-size: 10px;
}

.customer-email {
  color: #FFFFFF;
  font-size: 10px;
}