<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-10">
      <table class="table">
        <thead>
          <tr>
            <th class="customer-table-header">Customer Email List</th>
          </tr>
        </thead>
        <tbody class="customer-table-background">
          <div *ngFor="let customer of customers.results;">
            <tr>
              <td class="customer-names left">{{ customer.name.first | capitalize }} {{ customer.name.last | capitalize }}</td>
              <td class="customer-email left">{{ customer.email }}</td>
              <td class="right"><clr-icon shape="email" class="is-inverse"></clr-icon></td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>