<div class="go-live-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="header-message-layout">
          <span class="part-one-message">{{ headerMessagePartOne | uppercase }}</span>
          <span class="part-two-message">{{ headerMessagePartTwo | uppercase }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card item-card-background" style="margin-bottom: 10%;">
          <div class="card-header live-item-text">
            Original Lemonade
          </div>
          <div class="card-block">
            <div class="card-text live-item-text">
              The original. Sweet, tangy, and refreshing!
            </div>
            <div class="card-text" style="text-align: center;">
              <img class="live-item-image" src="../../../img/lemonade-image.jpeg" height=200 width=200>
            </div>
            <div class="card-text live-price-text">
              {{ lemonadePrice | currency:'USD':true:'1.2-2' }}
            </div>
          </div>
          <div class="card-footer" style="text-align: center;">
            <button type="submit" class="btn btn-info-outline" (click)="lemonadeAddToCart()">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card item-card-background" style="margin-bottom: 10%;">
          <div class="card-header live-item-text">
            Strawberry Lemonade
          </div>
          <div class="card-block">
            <div class="card-text live-item-text">
              A twist on the classic. Well worth the risk!
            </div>
            <div class="card-text" style="text-align: center;">
              <img class="live-item-image" src="../../../img/strawberry-lemonade-thumb.jpg" height=200 width=200>
            </div>
            <div class="card-text live-price-text">
              {{ strawberryLemonadePrice | currency:'USD':true:'1.2-2' }}
            </div>
          </div>
          <div class="card-footer" style="text-align: center;">
            <button type="submit" class="btn btn-info-outline" (click)="strawberryAddToCart()">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card item-card-background" style="margin-bottom: 10%;">
          <div class="card-header live-item-text">
            Homemade Cookies
          </div>
          <div class="card-block">
            <div class="card-text live-item-text">
              A family recipe. Grab one to tide you over!
            </div>
            <div class="card-text" style="text-align: center;">
              <img class="live-item-image" src="../../../img/chocolate-chip.jpg" height=200 width=200>
            </div>
            <div class="card-text live-price-text">
              {{ homemadeCookiesPrice | currency:'USD':true:'1.2-2' }}
            </div>
          </div>
          <div class="card-footer" style="text-align: center;">
            <button type="submit" class="btn btn-info-outline" (click)="cookieAddToCart()">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" [hidden]="!addedToCart">
      <div class="col-lg-4"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card item-card-background" style="margin-bottom: 10%;">
          <div class="card-header live-item-text">
            Order Summary
          </div>
          <div class="card-block">
            <div class="card-text checkout-text">
              <span>Items Selected: </span>
              <span style="font-weight: 500">{{ ordersModel.itemsAdded }}</span>
            </div>
            <div class="card-text checkout-text">
              <span>Subtotal: </span>
              <span style="font-weight: 500">{{ ordersModel.subTotal | currency:'USD':true:'1.2-2' }}</span>
            </div>
          </div>
          <div class="card-footer" style="text-align: center;">
            <button type="submit" class="btn btn-success">Proceed to Checkout</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>